.navbar
{
    background-color: #86e77d;
    padding-left: 16px;
    /* margin-left: auto; */
}
.navbar-light .navbar-nav .nav-link
{
    color: #0a0a0a;
    font-size: 16px;
}

.navbar-light .navbar-nav .nav-link:hover
{
    text-decoration: underline;
}